<ion-view title="Authentication page" id="page2">


 <ion-content padding="true" class="has-header">
    <div class="container">

    <img src="img/small.jpg" id="parrotPic" />

    <button class="button button-large button-assertive" id="recognitionBtn">
        Send your photo for face recognition
    </button>

    <button id="locationBtn" class="button button-large button-assertive" ng-click="callDrone()">
        Click to call the Drone to your location
    </button>

    <div class="card" style="width:20%;">
      <div class="item item-divider">
        <h1 style="color:red">Note!</h1>
      </div>

      <div class="item item-text-wrap">
        Before clicking the <b>Send your photo for face recignition</b> button
        make sure that the last photo you've taken from the <b>Take a photo</b>
        tab is a valid picture of your face
      </div>

      <div class="item item-divider">
        <a class="item item-icon-left assertive" href="http://localhost:8100/#/page1/page4">
        <i class="icon ion-ios-camera"></i>
          Take a photo
        </a>
      </div>

    </div>
    </div>
  </ion-content>


</ion-view>
