<ion-view title="Flight plan" id="page3">
<ion-content padding="true" class="has-header">
  <div>
    <div ng-repeat="base in bases track by $index" flight-plan top="{{base.top}}" bottom="{{base.bottom}}" left="{{base.left}}" right="{{base.right}}"></div>
  </div>
<svg class="test" width="900" height="800" viewbox = "0 0 900 800">
  <!--<path class="key-anim1" fill="none" stroke-width="5px" stroke="rgba(200,10,10,0.5)" d="M529 380,197 630" /> -->

  <!--
  <circle r="10" cy="529" cx="380" fill="#f33" />
  <circle r="10"cy="197" cx="630" fill="#f33" />
  <circle r="10" cy="152" cx="259" fill="#f33" /> -->
    <circle r="10" cy="522" cx="522" fill="#f33" />
    <g ng-repeat = "motion in motions track by $index" ng-show="{{show}}" create-motion motionId="motion{{pathId}}"></g>
    <g ng-repeat = "path in paths track by $index" create-path xfirst="{{path.xfirst}}" yfirst="{{path.yfirst}}"
       xsecond="{{path.xsecond}}" ysecond="{{path.ysecond}}" motionId="motion{{pathId}}">

      </g>
    <g ng-repeat="point in points track by $index" point-location xcor="{{point.xcor}}" ycor="{{point.ycor}}" ></g>

</svg>

  <button class="button icon-left ion-plus-round button-large button-balanced" id="baseButton" ng-click="openModal(1)">New Base</button>
  <button class="button icon-left ion-plus-round button-large button-royal" id="planButton" ng-click="openModal(2)">Create Flight Plan</button>
</ion-content>

</ion-view>

<script id="modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title">New Base</h1>
          <button class="button button-clear button-assertive" ng-click="closeModal(1)">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list" style="top:40px;">
            <label class="item item-input">
              <span class="input-label ion-ios-location">      Y-axis coordinates: </span>
              <input ng-model="newBase.top" type="text">
            </label>

            <label class="item item-input" style="top:60px;">
              <span class="input-label ion-ios-location">      X-axis coordinates: </span>
              <input ng-model="newBase.left" type="text">
            </label>

            <button class="button button-full button-assertive" ng-click="createBase(newBase)" style="top: 150px;">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="modalPoint.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-energized">
              <h1 class="title">New Flight plan location point</h1>
              <button class="button button-clear button-assertive" ng-click="closeModal(2)">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
              <div class="list" style="top:40px;">
                <label class="item item-input">
                  <span class="input-label ion-ios-location">      Y-axis coordinates: </span>
                  <input ng-model="newLocationPoint.xcor" type="text">
                </label>

                <label class="item item-input" style="top:60px;">
                  <span class="input-label ion-ios-location">      X-axis coordinates: </span>
                  <input ng-model="newLocationPoint.ycor" type="text">
                </label>

                <button class="button button-full button-assertive" ng-click="createLocationPoint(newLocationPoint)" style="top: 150px;">Create</button>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>
