<ion-view title="Flight plan" id="page3">
<ion-content padding="true" class="has-header">
  <div>
    <div ng-repeat="base in bases track by $index" flight-plan top="{{base.top}}" bottom="{{base.bottom}}" left="{{base.left}}" right="{{base.right}}"></div>
  </div>
<svg class="test" >
  <path class="key-anim1" fill="none" stroke-width="5px" stroke="rgba(200,10,10,0.5)" d="M620 200, 220 630" />
  <path class="key-anim2" fill="none" stroke-width="5px" stroke="rgba(200,10,10,0.5)" d="M197 630, 152 259" />
  <path class="key-anim3" fill="none" stroke-width="5px" stroke="rgba(200,10,10,0.5)"   />
  <circle r="10" cy="529" cx="380" fill="#f33" />
  <circle r="10"cy="197" cx="630" fill="#f33" />
  <circle r="10" cy="152" cx="259" fill="#f33" />
</svg>

  <button class="button icon-left ion-plus-round button-large button-balanced" id="baseButton" ng-click="modal.show()">New Base</button>
</ion-content>

</ion-view>

<script id="modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title">New Base</h1>
          <button class="button button-clear button-assertive" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list" style="top:40px;">
            <label class="item item-input">
              <span class="input-label ion-ios-location">      Y-axis coordinates: </span>
              <input ng-model="newBase.top" type="text">
            </label>

            <label class="item item-input" style="top:60px;">
              <span class="input-label ion-ios-location">      X-axis coordinates: </span>
              <input ng-model="newBase.left" type="text">
            </label>

            <button class="button button-full button-assertive" ng-click="createBase(newBase)" style="top: 150px;">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
