<ion-view title="Take a photo" id="page4">
  <ion-content>
    <div class="list list-inset">
        <div class="item">
          Ready: <b>ready</b>
        </div>
        
        <div class="item">
          Battery: <b>57%</b>
        </div>
        
        <div class="item">
          Landed: <span style="color:blue">true</span>
        </div>
        
        <div class="item">
          Flying: <span style="color:red">false</span>
        </div>
    
    </div>
      <button id="photoBtn" class="button icon-left ion-ios-camera button-large button-assertive">
        Click here to take a picture of your face
    </button>
  </ion-content>
</ion-view>
